<template>
  <div class="home">
    <location-list :items="locations" />
  </div>
</template>

<script>
// @ is an alias to /src
import LocationList from "@/components/List";
import { mapActions, mapState, mapMutations } from "vuex";

export default {
  name: "home",
  data() {
    return {
      loadingMessage: null,
      defaultLocations: [
        { title: "Istanbul", woeid: 2344116, data: null },
        { title: "Berlin", woeid: 638242, data: null },
        { title: "London", woeid: 44418, data: null },
        { title: "Helsinki", woeid: 565346, data: null },
        { title: "Dublin", woeid: 560743, data: null },
        { title: "Vancouver", woeid: 9807, data: null }
      ]
    };
  },
  components: {
    LocationList
  },
  computed: {
    ...mapState("weather", ["locations", "error"])
  },
  methods: {
    ...mapActions("weather", ["fetchDefault", "fetchDetail"]),
    ...mapMutations('weather', ['setLocations'])
  },
  async mounted() {
    const self = this;
    await this.setLocations(this.defaultLocations)
    self.locations.forEach(async location => {
      if (location.woeid !== null) {
        await this.fetchDetail(location.woeid);
      }
    });
  }
};
</script>
