<template>
  <div class="search-result text-center">
    <div v-if="loading">Searching for location {{q}}, please wait...</div>
    <div v-else>
      <div v-if="locations.length > 0">
        <h3>Search result of {{q}}.</h3>
        <location-list  :items="locations" />
      </div>
      <div v-else>No results were found. Try changing the keyword!</div>
    </div>
  </div>
</template>

<script>
import {mapActions, mapState} from 'vuex'
import LocationList from '@/components/List'

export default {
  data () {
    return {
      loading: true
    }
  },
  components: {
    LocationList
  },
  computed: {
    ...mapState('weather', ['locations', 'error']),
    q () {
      return this.$route.params.q
    }
  },
  watch: {
    $route() {
      this.searchLocation()
    }
  },
  methods: {
    ...mapActions('weather', ['search', 'fetchDetail']),
    fetchDetails() {
      if (!this.locations) return
      this.locations.forEach(async (item) => {
        await this.fetchDetail(item.woeid)
      })
    },
    async searchLocation () {
      this.loading = true
      try {
        await this.search(this.q)
        this.loading = false
        this.fetchDetails()
      } catch(err) {
        console.log(err)
      }
    }
  },
  mounted () {
    const q = this.q
    if (q) {
      this.searchLocation()
    }
  }
}
</script>
