<template>
  <div class="item">
    <weather :title="title" :temprature="temp" :minTemp="minTemp" :maxTemp="maxTemp" :icon="icon" @click="onClick" />
  </div>
</template>

<script>
import Weather from '@/components/Weather'
export default {
  props: ['item'],
  components: { Weather },
  computed: {
    getCurrentCW () {
      if (this.item && this.item.consolidated_weather) {
        return this.item.consolidated_weather[0]
      }
      return null
    },
    title () {
      return this.item.title
    },
    icon () {
      const cw = this.getCurrentCW
      if (cw !== null) {
        return cw.weather_state_abbr
      }
      return null
    },
    temp() {
      const cw = this.getCurrentCW
      if (cw !== null) {
        return cw.the_temp
      }
      return null
    },
    minTemp() {
      const cw = this.getCurrentCW
      if (cw !== null) {
        return cw.min_temp
      }
      return null
    },
    maxTemp() {
      const cw = this.getCurrentCW
      if (cw !== null) {
        return cw.max_temp
      }
      return null
    }
  },
  methods: {
    onClick () {
      this.$router.push({ name: 'weather-detail', params: { woeid: this.item.woeid }})
    }
  }
}
</script>
<style scoped>
  .item {
    cursor: pointer;
  }
</style>
