<template>
  <div class="list">
    <div class="list-item" v-for="item in items" :key="item.woeid">
      <list-item :item="item" />
    </div>
  </div>
</template>

<script>
import ListItem from '@/components/Item'

export default {
  components: {
    ListItem
  },
  props: ['items']
}
</script>
