<template>
  <div id="app">
    <h1 class="brand">
      <router-link to="/"> Weather APP </router-link>
    </h1>
    <search-box />
    <router-view/>
  </div>
</template>

<script>
import SearchBox from '@/components/SearchBox'

export default {
  components: {
    SearchBox
  }
}
</script>

<style>
@import './assets/styles/app.css';
</style>
