@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "./icons.css";

html {
  background-color: #EBEBEB;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  width: 1060px;
  margin: 0 auto;
}
#app {
  padding-bottom: 2rem;
}
.brand {
  text-align: center;
}
.brand a {
  color: #111;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #06697D;
  border-bottom: 4px solid #06697D;
  width: 32px;
  height: 32px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.list {
  display: flex;
  flex-direction: row;
  overflow: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  margin: 0 .75rem .75rem 0;
}

.is-active {
  background: #072f42 !important;
  color: #fff !important;
  border-color: #062c3c !important;
}
.is-active .wc-footer{
  background: #052838 !important;
}